.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    height: 60px;  
}

.fas.fa-user-circle {
    width: 50px;
    height: 20px;
}

.btn.btn-outline-secondary.btn-rounded {
   padding-left: 10px;
   padding-bottom: 10px; 
   border-radius: 15px;
   border-color: grey;
}
 
button {
    padding-top: 10px;
    padding-bottom: 10px;
}