.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    height: 60px;
} 

.fas.fa-user-alt {
    padding-right: 10px;
}

.fas.fa-user {
    padding-right: 10px;
}

.fas.fa-inbox {
    padding-right: 10px;
}

.fas.fa-file {
    padding-right: 10px; 
}

.fas.fa-cog {
    padding-right: 10px;
}

.fas.fa-sign-out-alt {
    padding-right: 10px;
}

.vl {
    border-left: 10px solid #2196F3;
    height: 800px;
  }