.fas.fa-user-alt {
    padding-right: 10px;
}

.fas.fa-user {
    padding-right: 10px;
}

.fas.fa-inbox {
    padding-right: 10px;
}

.fas.fa-file {
    padding-right: 10px; 
}

.fas.fa-cog {
    padding-right: 10px;
}

.fas.fa-sign-out-alt {
    padding-right: 10px;
}