<app-navbar></app-navbar>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Covid-19 prescreen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div>
</nav> -->
<div class="row">
  <div class="col-3" color="blue">
    <ul class="nav flex-column">

      <span layout="row"><hr flex/>
  <li class="nav-item"></li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="" routerLink="home"
      ><i class="fas fa-user-alt"></i>COVID-19 prescreen</a
    >
  </li>
  <hr flex/></span>

  
  <li class="nav-item">
    <a class="nav-link" routerLink="profile"><i class="fas fa-user"></i> Profile</a>
  </li>
 
  
  <span layout="row"><hr flex/>
  <li class="nav-item">
    <a class="nav-link" routerLink="inbox"><i class="fas fa-inbox"></i>Inbox</a>
  </li>
  <hr flex/></span>


  
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="academic"
        ><i class="fas fa-file"></i>Academic reports</a
      >
    </li>
    
    <span layout="row"><hr flex/>
    <li class="nav-item">
      <a class="nav-link" routerLink="settings"><i class="fas fa-cog"></i>Settings</a>
    </li>
    <hr flex/></span>
  

    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </li>

  </ul>
</ul>
</div>

  <div class="col-9">
    <div class="vl">
      <router-outlet></router-outlet>
  </div>
</div>
</div>
