
  <ul class="nav flex-column">
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-user-alt"></i>COVID-19 prescreen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user"></i>
        Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-inbox"></i>Inbox</a>
    </li>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-file"></i>Academic reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-cog"></i>Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>


