.warning {
    color: red;
    padding-top: 10px;;
}



.form-check-label {
    padding-left: 5px;
}

.form-check-input {
    padding-left: 5px;
}


.temp {
    padding-top: 30px;
    color: grey;
}

.form-outline {
  width: 20%;
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-color: grey;
}