img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    }

input{
    border: 2px solid;
    background-color: rgba(255,255,255,0);
    border-radius: 12px;
    border-color: grey;
    size:3px;
    margin-left: 10px;
    width: 40%;
}

label{
    color: #1E90FF;
}

.notyet {
    color: grey;
}

form{
    padding:12px;
}

#submitButton{
    margin: 25px;
    width: 30%;
} 

