<!-- <h1 class="appName" align="center">Login</h1> -->
<img src="assets/logo.png">

<div class="container-fluid" align="center">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <div class="form-group">
                    <label for="email" class='fa fa-envelope'></label>
                    <input class="email" type="email" placeholder="Email Address" formControlName="email">
                    <span class="text-danger" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched"><br>Invalid Email Address</span>
                </div>


                <div class="form-group">
                    <label for="password" class="fa fa-lock"></label>
                    <input type="password" placeholder="Password" formControlName="password">
                    <span class="text-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched"><br>Invalid Password</span>
                </div>


                <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" routerLink="/home">Login</button>
                </div>

                <div class="text-center text-success" *ngIf="successMessage">{{successMessage}}</div>

                <div>
                    <label for="inputState" class="notyet">Not yet Registered? | </label>
                    <button type="button" class="btn btn-link" (click)="registerRoute()">Register</button>
                </div>

                <div>
                    <button type="button" class="btn btn-link">Forgot Password?</button>
                </div>


            </form>
        </div>
    </div>
</div> 

